header {
    margin: 0 auto;
    width: 90%;
}

.list-header {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap:35px;
    row-gap: 45px;
    transition: transform 0.3s;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

li {
    display: inline-block;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
}

header a:hover {
    text-decoration: underline;
}

.toggle-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 1;
}

.check {
    position: relative;
    width: 50px;
    margin: 25px;
}

.check:hover {
    cursor: pointer;
}

.check:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.check:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after {
    left: 25px;
    border: 2px solid rgb(56, 119, 255);
}

.check:checked:before {
    background-color: #1a8cf7;
}

@media screen and (min-width: 1000px) {
    .toggle-menu {
        display: none;
    }

   
    .list-header {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

.main-menu-show {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}

@media screen and (max-width: 975px) {
    .list-header {
        flex-direction: column;
    }

    .list-header li {
        align-self: center;
    }
}

p {
    margin: 15px;
}

#bdark {
    border: none;
    background: transparent;
    cursor: pointer;
}

.darkmode {
    background: white;
    color: black;
}