* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}

header {
    background: black;
    width: 100%;
}

.list-header {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li {
    display: inline-block;
    margin: 20px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

header a:hover {
    text-decoration: underline;
}

.container {
    margin-top: 70px;
}

.title-main {
    color: #fff;
    text-align: center;
    font-style: normal;
    text-transform: capitalize;
}

.stack {
    margin-top: 40px;
}

.title-stack {
    color: white;
    text-align: center;
}

.stack_tecnologies img {

   
   
    background: transparent;
}

.stack_tecnologies {
    margin: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 3px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.stack_tecnologies li{
    position:relative;
    opacity: .99;
    padding:10px 3px;
    border-radius:30%;
    background:linear-gradient(45deg, red, blue, deeppink, blue, red, blue,    deeppink, blue);
    -webkit-border-radius:30%;
    -moz-border-radius:30%;
    -ms-border-radius:30%;
    -o-border-radius:30%;
}

@keyframes glowing {

    0% {
        background-position:0 0;
    }
    50% {
        background-position:400% 0;
    }
    100% {
        background-position:0 0;
    }
}

.stack_tecnologies li::before {
    content: "";
    top: 0;
    left:0;
    position: absolute;
    z-index: -1;
    height:100%;
    width:100%;
    background:linear-gradient(45deg, red, blue, deeppink, blue, red, blue,    deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    filter:blur(8px);
    -webkit-filter:blur(8px);
    animation:glowing 20s linear infinite;
    -webkit-animation:glowing 5s linear infinite;
}





.habilities h2 {
    color: white;
    text-align: center;
}

.list-habilities {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;

    color: white;
}

.items-habilities {
    align-self: center;
    text-align: center;
    border: 2px solid white;
    background-color: rgb(219, 174, 49);
    border-radius: 10px;
    width: 90%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 25px;
}

.title-proyects {
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

.list-proyects {
    display: flex;
    row-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list-proyects div {
    position:relative;
    opacity: .99;
    padding:15px 10px;
    border-radius:3%;
    background:linear-gradient(45deg, rgb(0, 195, 255), rgb(42, 134, 255), rgb(238, 226, 65), rgb(6, 112, 63), rgb(67, 21, 119), blue,    deeppink, blue);
    -webkit-border-radius:3%;
    -moz-border-radius:3%;
    -ms-border-radius:3%;
    -o-border-radius:3%;
}

.list-proyects div::before {
    content: "";
    top: 0;
    left:0;
    position: absolute;
    z-index: -1;
    height:100%;
    width:100%;
    background:linear-gradient(45deg, rgb(0, 195, 255), rgb(42, 134, 255), rgb(238, 226, 65), rgb(6, 112, 63), rgb(67, 21, 119), blue,    deeppink, blue);
    background-size: 800%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    filter:blur(8px);
    -webkit-filter:blur(8px);
    animation:glowing 20s linear infinite;
    -webkit-animation:glowing 15s linear infinite;
}

.proyect {
    align-self: center;
    border: 2px solid #ccc;
    padding: 5px;
    opacity: 0.3;
}

.proyect:hover {
    opacity: 1;
    border: 3px solid #fff;
}

.contacto h2 {
    margin: 30px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.list-contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}



.footer-container {
    width: 90%;
    margin: 20px auto;
}

.footer-text {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    background: white;
    padding: 10px 15px;
}